{%extends 'base.html' %}
{% block title %}All Locations{% endblock %}
{%block body%}
    <h1>Locations</h1>
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Location</th>
            <th>Items</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
        <tr>
            <td><a href={{ url_for("location_by_id", location_id = document.get("Name") ) }}>{{ document.get('Name', 'N/A') }} </a> </td>
            <td>{% for item in document.get('Items', 'N/A') %}<a href = {{url_for("item_by_id", item_id = item[2])}}>{{item[0]}}</a> - {{item[1]}}, {% endfor %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function () {
          $('#data').DataTable();
        });
    </script>
{%endblock%}
